<footer>
    <p id="clock"></p>
    <p>&copy; 2019 - Association pour la Diffusion, la Promotion et la Défense de l'Histoire de France - Tous droits
        réservés <br>Création graphique & Développement - Emilie Nogaro</p>
</footer>