@font-face{
    font-family: 'Lusitana';
    font-weight: normal;
    src: url(fonts/lusitana-regular-webfont.woff2) format("woff2");
}
@font-face{
    font-family: 'Lusitana';
    font-weight: bold;
    src: url(fonts/lusitana-bold-webfont.woff2) format("woff2");
}
@font-face{
    font-family: 'JSL Ancient';
    font-style: normal;
    src: url(fonts/jancient-webfont.woff2) format("woff2");
}
@font-face{
    font-family: 'JSL Ancient';
    font-style: italic;
    src: url(fonts/jancieni-webfont.woff2) format("woff2");
}
html,body{
    height:100%;
}
html{
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Lusitana';
    font-size:1.6rem;
}
*{
    box-sizing: border-box;
}
h1,h2{
    margin: 0;
    font-family: 'JSL Ancient';
}
h2{
    text-align: center;
    padding: 2rem 0;
    font-size: 3rem;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
article{
    padding: 2rem 3rem;
}

#burger_container{
    z-index: 999;
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: none;
}
#menu_burger{
    width: 4rem;
    height: 4rem;
    display: flex;
    border: .2rem solid #4285F4;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 2rem;
}
#menu_burger span, #menu_burger span::before, #menu_burger span::after{
    width: 2rem;
    height: .2rem;
    background-color: #4285F4;
    
}
#menu_burger span::before, #menu_burger span::after{
    content: "";
    display: block;
    position: absolute;
}
#menu_burger span::before{
    top: 1rem;
}
#menu_burger span::after{
    bottom: 1rem;
}
#menu_burger.close span{
    visibility: hidden;
}
#menu_burger.close span::before{
    visibility: visible;
    transform: rotate(45deg);
    transform-origin: center;
    top: 2rem;
}
#menu_burger.close span::after{
    visibility: visible;
    transform: rotate(-45deg);
    transform-origin: center;
    top: 2rem;
}

/* SLIDER2 */
.slideshow2{
    position: relative;
    margin: 0 9rem;
}
.mySlides2{
    display: none;
    background-color:#f3e0dc;
    padding: 1.8rem 0;
    /* border: 1.2rem solid #5C2018; */
    border-radius: .6rem;
} 
.mySlides2 img{
    height: 45rem;
    display: block;
    margin: 0 auto;
}
.mySlides2 p{
    color: #5C2018;
    text-align: center;
    margin-top: 1.2rem;
}
.slide-arrow{
    width: 3rem;
    height: 3rem; 
}
.prev, .next{
    position: absolute;
}
.prev .slide-arrow{
    border-bottom: 0.25rem solid #5C2018;
    border-left: 0.25rem solid #5C2018;
    border-radius: 10%;
    transform : rotate(45deg);
}
.next .slide-arrow{
    border-top: 0.25rem solid #5C2018;
    border-right: 0.25rem solid #5C2018;
    border-radius: 10%;
    transform : rotate(45deg);
}
.slide-arrow:hover{
    border-color: #d4a59a;
}
.slideshow a{
    position: absolute;
    top: 50%;
}
.slideshow2 .prev{
    left: 3rem;
    top: 50%;
}
.slideshow2 .next{
    right: 3rem;
    top: 50%;
}
#dot-container{
    text-align: center;
    margin-top: .5rem;
}
.dots{
    width: .9rem;
    height: .9rem;
    background-color: #5C2018;
    border-radius: 50%;
    display: inline-block;
    margin: 0 .5rem;
}
.dots:hover, .dots.active{
    background-color: #d4a59a;
}
        



#global_container{
    position: relative;
}
#headnav-container{
    position: fixed;
    width: 100%;
}
header{
    background-color: #bc4639;
    width: 100%;
    position: relative;
    height: 10rem;    
}
header h1{
    text-align: center;
    padding: 3rem 0;
    font-size: 4rem;
    letter-spacing: .2rem;
}
header a:first-of-type{
    position: absolute;
    top: 1rem;
    left: 1rem; 
}
header a img{
    width: 5rem;
}

#top-nav{
    background-color: #bc4639;
    height: 6rem;
}
#ul_nav{
    display: flex;
    justify-content: space-between;
    font-family: 'JSL Ancient';
    letter-spacing: .15rem;
    background-color: #d4a59a;
    margin: 0 9rem;
    height: 100%;
}
#ul_nav li{
    padding: 2rem 3rem;
}
#ul_nav li.active{
    background-color: #4285F4;
}
h2{
    background-color: #4285F4;
    color: white;
}
main{
    padding-top: 16rem;
    background-color: #BC4639;
}
.container{
    margin: 0 9rem;
    background-color: white;
}
#contact{
    background-color: #D4A59A;
    margin-top: 3rem;
}
#contact > p:first-of-type{
    padding-top: 2rem;
    text-align: center;
    color: #5C2018;
}
form{
    display: flex;
    flex-direction: column;
    margin:0 15rem;
    color: #5C2018;
}
form label{
    margin-top: 1rem;
}
form input{
    margin-bottom: 1rem;
}
input[type="submit"]{
    width: 40rem;
    background-color: #88CF04;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    color: white;
    margin: 2rem auto;
    
}


footer{
    background-color: #bc4639;
    color: white;
    padding: 1rem 9rem;
    font-size: 1.4rem;
}

#clock{
    background-color: #5C2018;
    padding: .5rem;
    width: 15rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.8rem;
}
.mingreen{
    color: #d4a59a;
}
.minblue{
    color: #f3e0dc;
}
@media screen and (max-width: 1024px) and (min-width:768px){
    #headnav-container{
        display: flex;
    }
    #ul_nav{
        display: none;
    }
    #burger_container{
        display: block;
        top: 2rem;
    }
    header{
        height: 8rem;
    }
    header h1{
        padding: 2.5rem 0;
        font-size: 3.5rem;
    }
    header a img {
        width: 4rem;
    }
    .container{
        margin: 0 6rem;
    }
    main {
        padding-top: 8rem;
    }
    .slideshow2{
        margin: 0 6rem;
    }
    .mySlides2 img{
        height: 33rem;
    }
    form{
        margin:0 10rem;
    }
}

@media screen and (max-width: 767px){
     #headnav-container{
        display: flex;
    }
    #ul_nav{
        display: none;
    }
    #burger_container{
        display: block;
        top: 1rem;
        right: .5rem;
    }
    header{
        height: 6rem;
    }
    header h1{
        padding: 2.2rem 0 2.2rem 1rem;
        font-size: 2.5rem;
        text-align: start;
    }
    header a img {
        display: none;
    }
    .container{
        margin: 0 2rem;
    }
    main {
        padding-top: 6rem;
    }
    .slideshow2{
        margin: 0 2rem;
    }
    .mySlides2{
        overflow: hidden;
    }
    .mySlides2 img{
        height: 20rem;
    }
    .slide-arrow{
        width: 2rem;
        height: 2rem; 
    }
    .slideshow2 .prev{
        left: 3rem;
        top: 80%;
    }
    .slideshow2 .next{
        right: 3rem;
        top: 80%;
    }
    form{
        margin:0 1rem;
    }
    input[type="submit"]{
        width: 100%;
        margin: 2rem auto;
    }
}