@font-face{
    font-family: 'Lusitana';
    font-weight: normal;
    src: url(fonts/lusitana-regular-webfont.woff2) format("woff2");
}
@font-face{
    font-family: 'Lusitana';
    font-weight: bold;
    src: url(fonts/lusitana-bold-webfont.woff2) format("woff2");
}
@font-face{
    font-family: 'JSL Ancient';
    font-style: normal;
    src: url(fonts/jancient-webfont.woff2) format("woff2");
}
@font-face{
    font-family: 'JSL Ancient';
    font-style: italic;
    src: url(fonts/jancieni-webfont.woff2) format("woff2");
}
html,body{
    height:100%;
}
html{
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Lusitana';
    font-size:1.6rem;
}
*{
    box-sizing: border-box;
}
h1,h2{
    margin: 0;
    font-family: 'JSL Ancient';
}
ul{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}

#global_container{
    position: relative;
}
.container{
    /* padding: 0 3rem 0 1rem; */
    /* width: 1000px; */
    margin: 0 auto;
}
/* ASIDE / TOP-NAV */
#top-nav{
    position: fixed;
    background-color: #4169E1;
    height: 100vh;
    z-index: 99;
    width: 26rem;
}
#top-nav #logo_container{
    height: 8rem;
    background-color: #FFB107;
}
#top-nav #logo_container p{
    padding: 2.5rem;
    letter-spacing: 1rem;
    font-size: 3.5rem;
    font-family: 'JSL Ancient';
}
#top-nav #logo_container a{
    color: #1D4CD8;
}
#top-nav #logo_container a:hover{
    color: #8FA7F0;
}
#top-nav ul{ 
    margin-top: 2.5rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30rem;
    font-family: 'JSL Ancient';
    letter-spacing: .15rem;
    font-size: 2rem;
    
}
#top-nav ul li{
    padding: 2rem 1rem 2rem 3rem;
}
#top-nav ul a{
    color: #FFBF33;
}
#top-nav ul a:hover{
    color: #FF9533;
}
li.active{
    background-color: #0C36B3;
}


/* BURGER-MENU */
#burger_container{
    z-index: 999;
    position: fixed;
    top: 1rem;
    left: 1rem;
    display: none;
}
#menu_burger{
    width: 4rem;
    height: 4rem;
    display: flex;
    border: .2rem solid #FFBF33;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 2rem;
}
#menu_burger span, #menu_burger span::before, #menu_burger span::after{
    width: 2rem;
    height: .2rem;
    background-color: #FFBF33;
    
}
#menu_burger span::before, #menu_burger span::after{
    content: "";
    display: block;
    position: absolute;
}
#menu_burger span::before{
    top: 1rem;
}
#menu_burger span::after{
    bottom: 1rem;
}
/* #menu_burger.close{
    border: .2rem solid #4169E1;
} */
#menu_burger.close span{
    visibility: hidden;
}
#menu_burger.close span::before{
    visibility: visible;
    transform: rotate(45deg);
    transform-origin: center;
    top: 2rem;
    /* background-color: #4169E1; */
}
#menu_burger.close span::after{
    visibility: visible;
    transform: rotate(-45deg);
    transform-origin: center;
    top: 2rem;
    /* background-color: #4169E1; */
}
#burger_bar{
    width: 100%;
    height: 6rem;
    background-color: #1D4CD8;
    display: none;
    position: fixed;
}


/* HEADER */
header{
    height: 100vh;
    background-color: #4169E1;
    color: white;
}
header section{
    padding: 2rem 0;
    /* margin-left: 3rem; */
}
header section:first-of-type{
    background-color: #1D4CD8;
    padding-left: 27rem;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: .2rem;
    height: 8rem;
    padding-top: 2.2rem;
}
header section:first-of-type p{
     margin-left: 1.5rem;
}
header section:first-of-type p:nth-child(2){
    margin-top: .3rem;
}

header section:last-of-type{
    color: #FFBF33;
    text-align: center;
    margin-left: 7rem;
}
header section:last-of-type > p{
    font-size: 2.5rem;
    font-family: 'JSL Ancient';
    letter-spacing: .2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
header section:last-of-type a{
    color: #FFBF33;
    font-size: 4rem;
    letter-spacing: .2rem;
}
header section:last-of-type a h1{
    margin-bottom: 2rem;
}

/* SLIDER */
#slideshow{
    width: 60%;
    position: relative;
    height: 30rem;
    margin: 0 auto;
}
.mySlides{
    display: none;
    background-color:#4169E1;
    padding: 1rem 0;
    border: .6rem solid #FFB107;
    border-radius: .6rem;
} 
.mySlides img{
    height: 33rem;
    display: block;
    margin: 0 auto;
}
.mySlides p{
    color: #FFBF33;
    text-align: center;
    margin-top: 1rem;
}
.visible{
    display: initial;
}
.hidden{
    display: none;
}

/* SLIDER2 */
.slideshow2{
    position: relative;
}
.mySlides2{
    display: none;
    background-color:#4169E1;
    padding: 1.8rem 0;
    border: 1.2rem solid #FFB107;
    border-radius: .6rem;
} 
.mySlides2 img{
    height: 50rem;
    display: block;
    margin: 0 auto;
}
.mySlides2 p{
    color: #FFBF33;
    text-align: center;
    margin-top: 1.2rem;
}
.slide-arrow{
    width: 3rem;
    height: 3rem; 
}
.prev, .next{
    position: absolute;
}
.prev .slide-arrow{
    border-bottom: 0.25rem solid #FFBF33;
    border-left: 0.25rem solid #FFBF33;
    border-radius: 10%;
    transform : rotate(45deg);
}
.next .slide-arrow{
    border-top: 0.25rem solid #FFBF33;
    border-right: 0.25rem solid #FFBF33;
    border-radius: 10%;
    transform : rotate(45deg);
}
.slide-arrow:hover{
    border-color: #FFDA8B;
}
.slideshow a{
    position: absolute;
    top: 50%;
}
.slideshow2 .prev{
    left: 3rem;
    top: 50%;
}
.slideshow2 .next{
    right: 3rem;
    top: 50%;
}
#dot-container{
    text-align: center;
    margin-top: .5rem;
}
.dots{
    width: .9rem;
    height: .9rem;
    background-color: #4169E1;
    border-radius: 50%;
    display: inline-block;
    margin: 0 .5rem;
}
.dots:hover, .dots.active{
    background-color: #8FA7F0;
}
        

/* MAIN */
main{
    margin-left: 26rem;
}
main section{
    padding: 0 3rem 0 1rem;
}
main article p{
    text-align: justify;
    text-indent: 3rem;
    margin-bottom: 1rem;
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
.clear{
    clear: both;
}
h2{
    font-size: 4rem;
    letter-spacing: .2rem;
    padding: 3rem 0 1rem 0;
}
.main_img{
    padding: 1rem 2rem;
}
#dynasty article p img{
    width: 30rem;
}
#hugues_capet article p:nth-child(2) img{
    width: 60rem;
}
#hugues_capet article p:nth-child(4) img{
    width: 30rem;
}
#saint_louis article p:nth-child(1) img{
    width: 30rem;
}
#saint_louis article p:nth-child(2) img{
    width: 60rem;
}
#philippe_lebel article p:nth-child(1) img{
    width: 45rem;
}
#philippe_lebel article p:nth-child(3) img{
    width: 22rem;
}
#philippe_auguste article p:nth-child(1) img{
    width: 30rem;
}
#philippe_auguste article p:nth-child(2) img{
    width: 30rem;
}
#contact{
    height: 100vh;
    background-color: #4169E1;
    color: #FFB107;
}

form{
    display: flex;
    flex-direction: column;
    margin:0 2rem;
}
form label{
    margin-top: 1rem;
}
form input{
    margin-bottom: 1rem;
}
input[type="submit"]{
    width: 40rem;
    background-color: #88CF04;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 2rem;
    border: none;
    color: white;
    margin-top: 2rem;
}
footer{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    z-index: 9999;
    color: #FFB107;
    font-size: 1.4rem;
}
#clock{
    background-color: #FFB107;
    padding: .5rem;
    width: 15rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.8rem;
}
.mingreen{
    color: green;
}
.minblue{
    color: blue;
}

@media screen and (max-width: 1024px) and (min-width:768px){

    header section:last-of-type{
        margin-left: 25rem;
    }
    #slideshow{
        width: 85%;
    }
    .mySlides img{
        height: 26rem;
    }
    .mySlides2 img{
        height: 35rem;
    }
    header section:first-of-type p:nth-child(2){
        display: none;
    }
}
@media screen and (max-width: 767px){
    h2{
        text-align: center;
        font-size: 3rem;
    }
    #top-nav{
        visibility: hidden;
        background-color: #FFB107;
        width: 50%;
        padding-top: 6rem;
    }
    #top-nav.show{
        visibility: visible;
    }
    #top-nav ul li a{
        color: #1D4CD8;
    }
    #burger_container{
        display: inline-block;
    }
    #burger_bar{
        display: block;
        z-index: 999999;
    }
    #logo_container{
        display: none;
    }
    header section{
        padding: 1rem 0;
    }
    header{
        height: inherit;
    }
    header section:first-of-type{
        display: none;
    }
    header section:first-of-type p{
        padding: 0 1rem 0 7rem; 
    }
    header section:last-of-type{
        margin-left: 0;
    }
    #slideshow{
        width: 100%;
    }
    .mySlides{
        padding: .6rem 0;
        border: none;    
    } 
    .mySlides img{
        height: 22rem;
    }
    .mySlides p{
        margin-top: .5rem;
    }
    main{
        margin-left: 0;
    }
    .mySlides2 img{
        height: 20rem;
    }
    .slide-arrow{
        width: 2rem;
        height: 2rem; 
    }
    .slideshow2 .prev{
        left: 3rem;
        top: 80%;
    }
    .slideshow2 .next{
        right: 3rem;
        top: 80%;
    }
    
    #hugues_capet article p:nth-child(2) img,
    #hugues_capet article p:nth-child(4) img,
    #hugues_capet article p:nth-child(4) img,
    #saint_louis article p:nth-child(1) img,
    #saint_louis article p:nth-child(2) img,
    #philippe_lebel article p:nth-child(1) img,
    #philippe_lebel article p:nth-child(3) img,
    #philippe_auguste article p:nth-child(1) img,
    #philippe_auguste article p:nth-child(2) img{
        width: 100%;
    }
    #contact{
        height: inherit;
    }

    input[type="submit"]{
        width: 80%;
        margin-bottom: 15rem
    }
    
}
