<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Contact</title>
        <link rel="stylesheet" type="text/css" href="/css/stylev2.css">
    </head>
    <body>
        <div id="global_container">
            <div id="headnav-container">
                <%include ../partials/header %>
                <%include ../partials/nav %>
            </div>
        
        
            <main>
                <div id="slideshow2_container">
                    <div class="slideshow2">
                        <div class="mySlides2">
                            <img src="/assets/images/hugues-capet-02.jpg" alt="hugues-capet-02">
                            <p class="slide-text">Hugues Capet</p>
                        </div>
                        <div class="mySlides2">
                            <img src="/assets/images/louis-ix-02.jpg" alt="louis-ix-02">
                            <p class="slide-text">Louis IX</p>
                        </div>
                        <div class="mySlides2">
                            <img src="/assets/images/philippe-le-bel-01.jpg" alt="philippe-le-bel-01">
                            <p class="slide-text">Philippe Le Bel</p>
                        </div>
                        <div class="mySlides2">
                            <img src="/assets/images/philippe-auguste-02.jpg" alt="philippe-auguste-02">
                            <p class="slide-text">Philippe Auguste</p>
                        </div>
                        <a class="prev" onclick="plusSlides(-1)">
                            <div class="slide-arrow"></div>
                        </a>
                        <a class="next" onclick="plusSlides(1)">
                            <div class="slide-arrow"></div>
                        </a>
                    </div>
                    <!-- <div id="dot-container">
                        <span class="dots" onclick="currentSlide(1)"></span>
                        <span class="dots" onclick="currentSlide(2)"></span>
                        <span class="dots" onclick="currentSlide(3)"></span>
                        <span class="dots" onclick="currentSlide(4)"></span>
                    </div> -->
                </div>
                <div class="container">
                    <section id="contact">
                        <h2>Contact</h2>
                        <p>Pour adhérer à l'association, veuillez remplir le formulaire ci-dessous</p>
                        <form action="/contact" method="POST">
                            <label for="family_name">Nom</label>
                            <input type="text" name="family_name" id="family_name" required>
                            <label for="first_name">Prénom</label>
                            <input type="text" name="first_name" id="first_name" required>
                            <label for="birthday">Date de naissance</label>
                            <input type="date" name="birthday" id="birthday">
                            <label for="address">Adresse</label>
                            <input type="text" name="address" id="address" required>
                            <label for="zipcode">Code Postal</label>
                            <input type="number" name="zipcode" id="zipcode" required>
                            <label for="city">Ville</label>
                            <input type="text" name="city" id="city" required>
                            <label for="e_mail">Email</label>
                            <input type="email" name="e_mail" id="e_mail" required>
                            <label for="phone">Tél</label>
                            <input type="tel" name="phone" id="phone" pattern="[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}">
                            <input type="submit" value="VALIDER">
                        </form>
                    </section>
                </div>
            </main>
            <%include ../partials/footer %>
        </div>
        <script src="/js/mainv2.js"></script>
    </body>
</html>